{% extends 'base.html' %}
{% block title %}
<title>Move/Edit Asset</title>
{% endblock %}
{% block content %}
<main>
    <div class="container-fluid">
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="alert alert-danger" id="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h1 class="mt-4"><i class="fas fa-edit"></i> Move/Edit IT Asset</h1>
        <br><ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/index">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/inventory">Inventory</a></li>
            <li class="breadcrumb-item active" aria-current="page">Move/Edit IT Asset</li></ol>
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center"><b>Edit IT Asset Details</b></div> 
            <div class="card-body">
                <form action="{{ url_for('edit_asset', asset_id=asset.id) }}" method="POST" id="product_form"> 
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id">Asset ID</label>
                                <input type="text" name="id" id="id" class="form-control" value="{{ asset['id'] }}" readonly>
                            </div><div class="form-group">
                                <label for="site">Site</label>
                                <select name="site" id="site" class="form-control" required>
                                    <option value="" disabled>Select Site</option>
                                    <option value="Makati" {% if asset['site'] == 'Makati' %}selected{% endif %}>Makati</option>
                                    <option value="Davao" {% if asset['site'] == 'Davao' %}selected{% endif %}>Davao</option>
                                </select></div>
                            <div class="form-group">
                                <label for="asset_type">Asset Type</label>
                                <select name="asset_type" id="asset_type" class="form-control" required>
                                    <option value="" disabled>Select Asset Type</option>
                                    <option value="Monitor" {% if asset['asset_type'] == 'Monitor' %}selected{% endif %}>Monitor</option>
                                    <option value="Laptop" {% if asset['asset_type'] == 'Laptop' %}selected{% endif %}>Laptop</option>
                                    <option value="PC" {% if asset['asset_type'] == 'PC' %}selected{% endif %}>Desktop</option>
                                    <option value="Headset" {% if asset['asset_type'] == 'Headset' %}selected{% endif %}>Headset</option>
                                </select></div>
                            <div class="form-group">
                                <label for="brand">Brand</label>
                                <input type="text" name="brand" id="brand" class="form-control" value="{{ asset['brand'] }}"></div>
                            <div class="form-group">
                                <label for="asset_tag">Asset Tag</label>
                                <input type="text" name="asset_tag" id="asset_tag" class="form-control" value="{{ asset['asset_tag'] }}"></div>
                            <div class="form-group">
                                <label for="serial_no">Serial Number</label>
                                <input type="text" name="serial_no" id="serial_no" class="form-control" value="{{ asset['serial_no'] }}"></div>
                            <div class="form-group">
                                <label for="location">Location</label>
                                <select name="location" id="location" class="form-control">
                                    <option value="" disabled>Select Location</option>
                                    <option value="7th Floor" {% if asset['location'] == '7th Floor' %}selected{% endif %}>7th Floor</option>
                                    <option value="19th Floor" {% if asset['location'] == '19th Floor' %}selected{% endif %}>19th Floor</option>
                                    <option value="21st Floor" {% if asset['location'] == '21st Floor' %}selected{% endif %}>21st Floor</option>
                                    <option value="32nd Floor" {% if asset['location'] == '32nd Floor' %}selected{% endif %}>32nd Floor</option>
                                    <option value="WFH" {% if asset['location'] == 'WFH' %}selected{% endif %}>WFH</option>
                                    <option value="Wise Production Area">Wise Production Area</option>
                                    <option value="Vendor">Vendor</option>
                                    <option value="JAKA - 5th Floor">JAKA - 5th Floor</option>
                                </select></div>
                            <div class="form-group">
                                <label for="campaign">Campaign</label>
                                <input type="text" name="campaign" id="campaign" class="form-control" value="{{ asset['campaign'] }}"></div>
                            <div class="form-group">
                                <label for="station_no">Station Number</label>
                                <input type="text" name="station_no" id="station_no" class="form-control" value="{{ asset['station_no'] }}"></div>
                            <div class="form-group">
                                <label for="pur_date">Purchase Date</label>
                                <input type="date" name="pur_date" id="pur_date" class="form-control" value="{{ asset['pur_date'] }}"></div></div>
                                <div class="col-md-6">
                            <div class="form-group">
                                <label for="si_num">Sales Invoice Number</label>
                                <input type="text" name="si_num" id="si_num" class="form-control" value="{{ asset['si_num'] }}"></div>
                            <div class="form-group">
                                <label for="model">Model</label>
                                <input type="text" name="model" id="model" class="form-control" value="{{ asset['model'] }}"></div>
                            <div class="form-group">
                                <label for="specs">Specifications</label>
                                <input type="text" name="specs" id="specs" class="form-control" value="{{ asset['specs'] }}"></div>
                            <div class="form-group">
                                <label for="ram_slot">RAM Slot</label>
                                <input type="text" name="ram_slot" id="ram_slot" class="form-control" value="{{ asset['ram_slot'] }}"></div>
                            <div class="form-group">
                                <label for="ram_capacity">RAM Capacity</label>
                                <input type="text" name="ram_capacity" id="ram_capacity" class="form-control" value="{{ asset['ram_capacity'] }}"></div>
                            <div class="form-group">
                                <label for="ram_type">RAM Type</label>
                                <input type="text" name="ram_type" id="ram_type" class="form-control" value="{{ asset['ram_type'] }}"></div>
                            <div class="form-group">
                                <label for="pc_name">PC Name</label>
                                <input type="text" name="pc_name" id="pc_name" class="form-control" value="{{ asset['pc_name'] }}"></div>
                            <div class="form-group">
                                <label for="win_ver">Windows Version</label>
                                <input type="text" name="win_ver" id="win_ver" class="form-control" value="{{ asset['win_ver'] }}"></div>
                            <div class="form-group">
                                <label for="last_upd">Last Updated</label>
                                <input type="date" name="last_upd" id="last_upd" class="form-control" value="{{ asset['last_upd'] }}"></div>
                            <div class="form-group">
                                <label for="completed_by">Completed By</label>
                                <input type="text" name="completed_by" id="completed_by" class="form-control" value="{{ asset['completed_by'] }}" required></div></div></div><br>
                    <button type="submit" class="btn btn-primary">Edit IT Asset Details</button>
                    <a href="{{ url_for('inventory') }}" class="btn btn-secondary">Cancel</a>
                </form></div></div></div></main> 
<script>
    document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
            var flashMessages = document.getElementById('flash-messages');
            if (flashMessages) { flashMessages.style.display = 'none'; }
        }, 5000);});</script>
{% endblock %}
