{% extends 'base.html' %}
{% block title %}
<title>IT Asset Management System</title>
{% endblock %}
{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4"><i class="fas fa-home"></i> Dashboard</h1><br>
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card mb-4">
                    <div class="card-header bg-primary text-white">
                        <h6 class="m-0"><b>Assets Overview</b></h6>
                    </div>
                    <div class="card-body bg-white">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="assetsCounterTable" width="100%">
                                <thead>
                                    <tr>
                                        <th><b>Location</b></th>
                                        <th><b>Asset Count</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Storage Room</td>
                                        <td id="storageRoomCount" class="font-weight-normal text-dark">{{ storage_room_count }}</td>
                                    </tr>
                                    <tr>
                                        <td>Monitor</td>
                                        <td id="monitorCount" class="font-weight-normal text-dark">{{ monitor_count }}</td>
                                    </tr>
                                    <tr>
                                        <td>Desktop</td>
                                        <td id="desktopCount" class="font-weight-normal text-dark">{{ desktop_count }}</td>
                                    </tr>
                                    <tr>
                                        <td>Laptop</td>
                                        <td id="laptopCount" class="font-weight-normal text-dark">{{ laptop_count }}</td>
                                    </tr>
                                    <tr>
                                        <td>Headset</td>
                                        <td id="headsetCount" class="font-weight-normal text-dark">{{ headset_count }}</td>
                                    </tr>
                                    <tr>
                                        <td>Dongle</td>
                                        <td id="dongleCount" class="font-weight-normal text-dark">{{ dongle_count }}</td>
                                    </tr>
                                    <tr>
                                        <td>IPPhone</td>
                                        <td id="IPPhoneCount" class="font-weight-normal text-dark">{{ IPPhone_count }}</td>
                                    </tr>
                                    <tr>
                                        <td>CCTV</td>
                                        <td id="cctvCount" class="font-weight-normal text-dark">{{ cctv_count }}</td>
                                    </tr>
                                    <tr>
                                        <td>Switch</td>
                                        <td id="switchCount" class="font-weight-normal text-dark">{{ switch_count }}</td>
                                    </tr>
                                    <tr>
                                        <td>Access Point</td>
                                        <td id="accessCount" class="font-weight-normal text-dark">{{ access_count }}</td>
                                    </tr>
                                    <tr>
                                        <td>Router</td>
                                        <td id="routerCount" class="font-weight-normal text-dark">{{ router_count }}</td>
                                    </tr>
                                    <tr>
                                        <td>Cell Phone</td>
                                        <td id="CPCount" class="font-weight-normal text-dark">{{ cp_count }}</td>
                                    </tr>
                                    <tr>
                                        <td>Door Access</td>
                                        <td id="doorCount" class="font-weight-normal text-dark">{{ door_count }}</td>
                                    </tr>
                                    <tr>
                                        <td>Server</td>
                                        <td id="serverCount" class="font-weight-normal text-dark">{{ server_count }}</td>
                                    </tr>
                                    <tr>
                                        <td>UPS</td>
                                        <td id="upsCount" class="font-weight-normal text-dark">{{ ups_count }}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pie Chart Section -->
            <div class="col-lg-6 mb-4">
                <div class="card mb-4 shadow-lg">
                    <div class="card-header bg-primary text-white"><b>Assets Distribution by Location</b></div>
                    <div class="card-body">
                        <canvas id="assetsPieChart" height="300"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Latest IT Assets Movement
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    {% if assets|length < 1 %}
                    <h4>There are no assets, you may add one in the Inventory</h4>
                    {% else %}
                    <table class="table table-bordered table-hover" id="dashboardTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Site</th>
                                <th>Asset Type</th>
                                <th>Brand</th>
                                <th>Serial Number</th>
                                <th>Location</th>
                                <th>Campaign</th>
                                <th>Station Number</th>
                                <th>Model</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for asset in assets %}
                            {% if session['user_role'] in ['Super-Admin', 'Admin'] %}
                            <tr data-serial="{{ asset.serial_no }}" onclick="redirectToInventory('{{ asset.serial_no }}')">
                            {% endif %}
                            {% if session['user_role'] in ['Super-User'] %}
                            <tr data-serial="{{ asset.serial_no }}" onclick="redirectToRequestInventory('{{ asset.serial_no }}')">
                            {% endif %}
                            {% if session['user_role'] in ['User'] %}
                            <tr>
                            {% endif %}
                                <td>{{ asset.site }}</td>
                                <td>{{ asset.asset_type }}</td>
                                <td>{{ asset.brand }}</td>
                                <td>{{ asset.serial_no }}</td>
                                <td>{{ asset.location }}</td>
                                <td>{{ asset.campaign }}</td>
                                <td>{{ asset.station_no }}</td>
                                <td>{{ asset.model }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const checkboxes = document.querySelectorAll(".form-check-input");
        const table = document.getElementById("dashboardTable");
        const rows = table.querySelectorAll("tbody tr");
        window.redirectToInventory = function(serialNo) {
            window.location.href = `/inventory?serial_no=${serialNo}`;
        };
        window.redirectToRequestInventory = function(serialNo) {
            window.location.href = `/request-inventory?serial_no=${serialNo}`;
        };

        // Pie chart data
        const ctx = document.getElementById('assetsPieChart').getContext('2d');
        const assetCounts = [
            {{ storage_room_count }},
            {{ monitor_count }},
            {{ desktop_count }},
            {{ laptop_count }},
            {{ headset_count }},
            {{ dongle_count }},
            {{ IPPhone_count }},
            {{ cctv_count }},
            {{ switch_count }},
            {{ access_count }},
            {{ router_count }},
            {{ cp_count }},
            {{ door_count }},
            {{ server_count }},
            {{ ups_count }}
        ];

        const locations = [
            'Storage Room', 
            'Monitor', 
            'Desktop', 
            'Laptop', 
            'Headset', 
            'Dongle', 
            'IPPhone', 
            'CCTV', 
            'Switch',
            'Access Point',
            'Router',
            'Cell Phone',
            'Door Access',
            'Server',
            'UPS'
        ];

        const assetsPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: locations,
                datasets: [{
                    label: 'Asset Distribution',
                    data: assetCounts,
                    backgroundColor: [
                        '#FF6384',  // Storage Room
                        '#36A2EB',  // Monitor
                        '#FFCE56',  // Desktop
                        '#4BC0C0',  // Laptop
                        '#9966FF',  // Headset
                        '#F0EAAC',  // Dongle
                        '#800000',  // IPPhone
                        '#674188',  // CCTV
                        '#BEDC74',  // Switch
                        '#FF9999',  // Access Point
                        '#CCCCFF',  // Router
                        '#FFFF99',  // Cell Phone
                        '#99FF99',  // Door Access
                        '#FFCC99',  // Server
                        '#66CCCC'   // UPS
                    ],
                    hoverOffset: 4
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: true,
                        position: 'bottom',  // Position the legend at the bottom
                        align: 'center'     // Center align the legend
                    },
                    tooltip: {
                        enabled: true,
                        backgroundColor: 'rgba(0, 0, 0, 0.7)',
                        titleFont: { size: 16, weight: 'bold' },
                        bodyFont: { size: 14 },
                        callbacks: {
                            label: function(tooltipItem) {
                                return `${tooltipItem.label}: ${tooltipItem.raw} assets`;
                            }
                        }
                    },
                },
                animation: {
                    animateRotate: true,
                    animateScale: true
                }
            }
        });
    });
</script>
{% endblock %}