{% extends 'base.html' %}
{% block title %}
<title>IT Asset Management System</title>
{% endblock %}
{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4"><i class="fas fa-home"></i> Dashboard</h1><br>
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card mb-4">
                    <div class="card-header bg-primary text-white">
                        <h6 class="m-0"><b>Assets Overview</b></h6>
                    </div>
                    <div class="card-body bg-white">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="assetsCounterTable" width="100%">
                                <thead>
                                    <tr>
                                        <th><b>Location</b></th>
                                        <th><b>Asset Count</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Storage Room</td>
                                        <td id="storageRoomCount" class="font-weight-normal text-dark">{{ storage_room_count }}</td>
                                    </tr>
                                    <tr>
                                        <td>7th Floor</td>
                                        <td id="seventhFloorCount" class="font-weight-normal text-dark">{{ seventh_floor_count }}</td>
                                    </tr>
                                    <tr>
                                        <td>19th Floor</td>
                                        <td id="nineteenthFloorCount" class="font-weight-normal text-dark">{{ nineteenth_floor_count }}</td>
                                    </tr>
                                    <tr>
                                        <td>21st Floor</td>
                                        <td id="twentyFirstFloorCount" class="font-weight-normal text-dark">{{ twenty_first_floor_count }}</td>
                                    </tr>
                                    <tr>
                                        <td>32nd Floor</td>
                                        <td id="thirtySecondFloorCount" class="font-weight-normal text-dark">{{ thirty_second_floor_count }}</td>
                                    </tr>
                                    <tr>
                                        <td>WFH</td>
                                        <td id="wfhCount" class="font-weight-normal text-dark">{{ wfh_count }}</td>
                                    </tr>
                                    <tr>
                                        <td>Wise Production Area</td>
                                        <td id="wiseProductionAreaCount" class="font-weight-normal text-dark">{{ wise_production_area_count }}</td>
                                    </tr>
                                    <tr>
                                        <td>Vendor</td>
                                        <td id="vendorCount" class="font-weight-normal text-dark">{{ vendor_count }}</td>
                                    </tr>
                                    <tr>
                                        <td>JAKA - 5th Floor</td>
                                        <td id="jakaFifthFloorCount" class="font-weight-normal text-dark">{{ jaka_fifth_floor_count }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pie Chart Section -->
            <div class="col-lg-6 mb-4">
                <div class="card mb-4 shadow-lg">
                    <div class="card-header bg-primary text-white"><b>Assets Distribution by Location</b></div>
                    <div class="card-body">
                        <canvas id="assetsPieChart" height="300"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Latest IT Assets Movement
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    {% if assets|length < 1 %}
                    <h4>There are no assets, you may add one in the Inventory</h4>
                    {% else %}
                    <table class="table table-bordered table-hover" id="dashboardTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Site</th>
                                <th>Asset Type</th>
                                <th>Brand</th>
                                <th>Serial Number</th>
                                <th>Location</th>
                                <th>Campaign</th>
                                <th>Station Number</th>
                                <th>Model</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for asset in assets %}
                            {% if session['user_role'] in ['Super-Admin', 'Admin'] %}
                            <tr data-serial="{{ asset.serial_no }}" onclick="redirectToInventory('{{ asset.serial_no }}')">
                            {% endif %}
                            {% if session['user_role'] in ['Super-User'] %}
                            <tr data-serial="{{ asset.serial_no }}" onclick="redirectToRequestInventory('{{ asset.serial_no }}')">
                            {% endif %}
                            {% if session['user_role'] in ['User'] %}
                            <tr>
                            {% endif %}
                                <td>{{ asset.site }}</td>
                                <td>{{ asset.asset_type }}</td>
                                <td>{{ asset.brand }}</td>
                                <td>{{ asset.serial_no }}</td>
                                <td>{{ asset.location }}</td>
                                <td>{{ asset.campaign }}</td>
                                <td>{{ asset.station_no }}</td>
                                <td>{{ asset.model }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const checkboxes = document.querySelectorAll(".form-check-input");
        const table = document.getElementById("dashboardTable");
        const rows = table.querySelectorAll("tbody tr");
        window.redirectToInventory = function(serialNo) {
            window.location.href = `/inventory?serial_no=${serialNo}`;
        };
        window.redirectToRequestInventory = function(serialNo) {
            window.location.href = `/request-inventory?serial_no=${serialNo}`;
        };

        // Pie chart data
        const ctx = document.getElementById('assetsPieChart').getContext('2d');
        const assetCounts = [
            {{ storage_room_count }},
            {{ seventh_floor_count }},
            {{ nineteenth_floor_count }},
            {{ twenty_first_floor_count }},
            {{ thirty_second_floor_count }},
            {{ wfh_count }},
            {{ wise_production_area_count }},
            {{ vendor_count }},
            {{ jaka_fifth_floor_count }}
        ];

        const locations = [
            'Storage Room', 
            '7th Floor', 
            '19th Floor', 
            '21st Floor', 
            '32nd Floor', 
            'WFH', 
            'Wise Production Area', 
            'Vendor', 
            'JAKA - 5th Floor'
        ];

        const assetsPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: locations,
                datasets: [{
                    label: 'Asset Distribution',
                    data: assetCounts,
                    backgroundColor: [
                        '#FF6384',  // Storage Room
                        '#36A2EB',  // 7th Floor
                        '#FFCE56',  // 19th Floor
                        '#4BC0C0',  // 21st Floor
                        '#9966FF',  // 32nd Floor
                        '#F0EAAC',  // WFH
                        '#800000',  // Wise Production Area
                        '#674188',  // Vendor
                        '#BEDC74'   // JAKA - 5th Floor
                    ],
                    hoverOffset: 4
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: true,
                        position: 'bottom',  // Position the legend at the bottom
                        align: 'center'     // Center align the legend
                    },
                    tooltip: {
                        enabled: true,
                        backgroundColor: 'rgba(0, 0, 0, 0.7)',
                        titleFont: { size: 16, weight: 'bold' },
                        bodyFont: { size: 14 },
                        callbacks: {
                            label: function(tooltipItem) {
                                return `${tooltipItem.label}: ${tooltipItem.raw} assets`;
                            }
                        }
                    },
                },
                animation: {
                    animateRotate: true,
                    animateScale: true
                }
            }
        });
    });
</script>
{% endblock %}
