{% extends 'base.html' %}

{% block title %}
<title>IT Asset Management System</title>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="alert alert-success" id="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div class="header1 mb-4 d-flex justify-content-between align-items-center">
            <h1 id="headerInv" class="mt-4"><i class="fas fa-dolly-flatbed"></i> Inventory</h1>       
        </div>
        
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/index">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Inventory</li>
        </ol>

        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center"><b>Manage IT Assets</b></div>
            <div class="card-body">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <i class="fas fa-table mr-1"></i>
                            <b>IT Assets Table</b>
                        </div>
                    </div>
                    
                    <div class="card-body">
                        <div class="table-responsive">
                            {% if assets|length < 1 %}
                            <h4>There are no assets, add one above</h4>
                            {% else %}
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Move</th>
                                        <th>ID</th>
                                        <th>Site</th>
                                        <th>Asset Type</th>
                                        <th>Brand</th>
                                        <th>Asset Tag</th>
                                        <th>Serial Number</th>
                                        <th>Location</th>
                                        <th>Campaign</th>
                                        <th>Station Number</th>
                                        <th>Purchase Date</th>
                                        <th>Sales Invoice Number</th>
                                        <th>Model</th>
                                        <th>Specifications</th>
                                        <th>RAM Slot</th>
                                        <th>RAM Type</th>
                                        <th>RAM Capacity</th>
                                        <th>PC Name</th>
                                        <th>Windows Version</th>
                                        <th>Last Update/Date Installed</th>
                                        <th>Completed By</th>
                                        <th>Last Update At</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for asset in assets %}
                                    <tr>
                                        <td>
                                            <a href="{{ url_for('request_edit', asset_id=asset['id']) }}" class="btn btn-warning">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            
                                        </td> 
                                        <td>{{ asset.id }}</td>
                                        <td>{{ asset.site }}</td>
                                        <td>{{ asset.asset_type }}</td>
                                        <td>{{ asset.brand }}</td>
                                        <td>{{ asset.asset_tag }}</td>
                                        <td>{{ asset.serial_no }}</td>
                                        <td>{{ asset.location }}</td>
                                        <td>{{ asset.campaign }}</td>
                                        <td>{{ asset.station_no }}</td>
                                        <td>{{ asset.pur_date }}</td>
                                        <td>{{ asset.si_num }}</td>
                                        <td>{{ asset.model }}</td>
                                        <td>{{ asset.specs }}</td>
                                        <td>{{ asset.ram_slot }}</td>
                                        <td>{{ asset.ram_type }}</td>
                                        <td>{{ asset.ram_capacity }}</td>
                                        <td>{{ asset.pc_name }}</td>
                                        <td>{{ asset.win_ver }}</td>
                                        <td>{{ asset.last_upd }}</td>
                                        <td>{{ asset.completed_by }}</td>
                                        <td>{{ asset.updated_at }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Set a timer to remove flash messages after 5 seconds
        setTimeout(function() {
            var flashMessages = document.getElementById('flash-messages');
            if (flashMessages) {
                flashMessages.style.display = 'none'; // Hide the flash messages
            }
        }, 5000); // 5000 milliseconds = 5 seconds
    });
</script>
{% endblock %}